Task 1 :Calculate moving average

In [54]:
mylst=[3,5,7,2,8,10,11,65,72,81,99,100,150]
k=3
n=len(mylst)
movavg=[]
for i in range(n-k+1):
    movavg.append(sum(mylst[i:k+i])/k)
print(movavg)

[5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

TASK2:1 Count to the previus value

In [55]:
import pandas as pd
df=pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]})
def counttoprev(df):
    y=[]
    j=-1
    for i in df['X'].tolist():
        if i!=0:
            j+=1
            y.append(j)
        else:
            j=0
            y.append(j)
    return y
df['Y']=counttoprev(df)
df

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

TASK2:2 Datetime series creations and index it with random numbers

In [56]:
import numpy as np
import pandas as pd
df=pd.date_range(start='01/01/2015', end='31/12/2015', freq='B')
df1=pd.Series(np.random.randn(261),index=df)
df1

2015-01-01    1.186482
2015-01-02    1.847084
2015-01-05    0.942263
2015-01-06    2.443650
2015-01-07   -0.068499
2015-01-08    1.087368
2015-01-09   -0.416666
2015-01-12    0.447940
2015-01-13   -0.552009
2015-01-14   -1.025981
2015-01-15    0.270358
2015-01-16    0.490763
2015-01-19   -0.002061
2015-01-20   -0.117297
2015-01-21   -0.629742
2015-01-22   -0.422459
2015-01-23    0.563888
2015-01-26    0.567143
2015-01-27   -0.683018
2015-01-28   -0.590602
2015-01-29   -0.816295
2015-01-30    0.160203
2015-02-02   -0.542803
2015-02-03    0.377853
2015-02-04   -0.395419
2015-02-05    0.719258
2015-02-06    0.741097
2015-02-09    1.499218
2015-02-10   -0.050591
2015-02-11   -1.925437
                ...
2015-11-20   -0.656250
2015-11-23    0.087283
2015-11-24   -1.180755
2015-11-25    1.705498
2015-11-26   -0.414098
2015-11-27   -0.646107
2015-11-30    1.179461
2015-12-01   -0.402772
2015-12-02   -0.549848
2015-12-03    0.482103
2015-12-04   -0.863653
2015-12-07    0.515302
2015-12-08   -1.187947
2015-12-09    0.453633
2015-12-10    1.151967
2015-12-11   -0.560920
2015-12-14   -0.219134
2015-12-15   -0.579651
2015-12-16   -1.113559
2015-12-17   -0.881146
2015-12-18   -0.596299
2015-12-21    1.142531
2015-12-22   -1.449164
2015-12-23   -0.055473
2015-12-24   -0.022189
2015-12-25   -1.730128
2015-12-28   -0.232591
2015-12-29    0.476068
2015-12-30   -0.867663
2015-12-31    0.764223
Freq: B, Length: 261, dtype: float64

Task2:3 Sum of all values for Wednesday

In [57]:
df1[df.weekday==2].sum()

-3.975172879701632

Task2:4 Average for each calendar month

In [58]:
df1.resample('M').mean()

2015-01-31    0.212842
2015-02-28   -0.084937
2015-03-31    0.181800
2015-04-30    0.032415
2015-05-31    0.342523
2015-06-30    0.190719
2015-07-31   -0.237747
2015-08-31   -0.068124
2015-09-30    0.352630
2015-10-31    0.348180
2015-11-30   -0.178323
2015-12-31   -0.275057
Freq: M, dtype: float64

Task2:5 Highest value for a group of 4 consequitive months

In [59]:
df1.groupby(pd.Grouper(freq='4M')).max()

2015-01-31    2.443650
2015-05-31    2.589161
2015-09-30    1.887427
2016-01-31    2.220581
dtype: float64